spring:
  security:
    oauth2:
      client:
        registration:
          spotify:
            client-id: <your client id from https://developer.spotify.com/>
            client-secret: <your client secret from https://developer.spotify.com/>